@import '../../styles/mixins.scss';

.board-container {
  position: relative;
}

.board {
  @include board-template;

  margin: 40px 100px;
  border: 1px solid lightgrey;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  &__cell {
    border: 1px solid lightgrey;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
