@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  @include button-reset;
  // -webkit-appearance: none;
  color: orangered;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .2);
}
